@import "../../styles/theme";
@import "../../styles/font";

.title {
    width: 94%;
    margin-left: 5%;
    margin-top: 0.2%;
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    &__first,
    &__second {
        width: 100%;
        font-family: "NeueMontreal-Medium";
        color: $primary-color-darkblue;
        font-size: $fontsize-title;
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
        height: calc($fontsize-title - 30px);
        display: flex;
        align-items: center;
        letter-spacing: -0.1rem;
    }
    &__second {
        width: 100%;
        height: calc($fontsize-title - 30px);
        display: flex;
        align-items: center;

        &__text {
            font-family: "NeueMontreal-Medium";
            color: $primary-color-darkblue;
            font-size: $fontsize-title;
            font-weight: 500;
            line-height: 1.2;
            margin: 0;
            height: calc($fontsize-title - 30px);
            display: flex;
            align-items: center;
            letter-spacing: -0.1rem;
        }
    }
}

.smalltext {
    display: flex;
    flex-direction: column;
    font-family: "NeueMontreal-Medium";
    font-weight: 500;
    letter-spacing: 1px;
    font-size: $fontsize-title-second;
    text-transform: uppercase;
    color: $primary-color-darkblue;
    // border: 2px solid blue;
    margin-left: 1vw;
    height: 87%;

    span {
        margin: 0;
        margin-bottom: -5px;
    }
}
