@import "../../styles/theme";

.title {
    width: 94%;
    margin-left: 5%;
    margin-top: 0rem;
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    &__first,
    &__second {
        width: 100%;
        font-family: "NeueMontreal-Medium";
        // color: rgb(231, 231, 231);
        color: $primary-color-darkblue;
        // mix-blend-mode: difference;
        font-size: 12.7rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
        margin-top: -35px;
        letter-spacing: -0.1rem;
    }
    &__second {
        width: 23%;
        // border: 2px solid green;
        margin-top: -4%;
    }
}

.smalltext {
    display: flex;
    flex-direction: column;
    font-family: "NeueMontreal-Medium";
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    // color: rgb(231, 231, 231);
    color: $primary-color-darkblue;
    // mix-blend-mode: difference;
    // border: 2px solid blue;
    margin-top: -1%;
    margin-left: 5.5rem;
    span {
        margin: 0;
        margin-bottom: -5px;
    }
}
