@import "../../assets/styles/theme.scss";

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    &__box {
        width: 85%;
        position: relative;
        height: 90%;
        // border: 2px solid red;
        z-index: 1;
        h2 {
            margin: 0;
            margin-top: -3rem;
            font-family: "OktaNeue-Regular";
            font-size: 6rem;
            // border: 2px solid green;
        }

        &__content {
            // border: 2px solid blue;
            height: 70%;
            display: flex;

            &__view {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 2px solid purple;
                &__ctn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: 2px solid green;
                    position: relative;
                    width: 100%;
                    height: 80%;
                }
                img {
                    // border: 2px solid pink;
                    position: absolute;
                    top: 5%;
                    left: 10%;
                    width: 80%;
                    height: 0px;
                    transition: 0.5s;
                }
            }
            &__text {
                // border: 2px solid black;
                width: 50%;
                display: flex;
                flex-direction: column;

                &__banner {
                    display: flex;
                    width: 90%;
                    height: 2.4rem;
                    margin-top: 3%;
                    // border: 2px solid orange;
                    justify-content: space-between;
                    font-family: "OktaNeue-Regular";
                    font-size: 1.5rem;
                    border-bottom: 2px solid black;

                    &__year {
                        margin-right: 1rem;
                    }
                }
                &__projects {
                    ul {
                        padding: 0;
                        margin: 0;
                        margin-top: 1rem;
                    }
                    li {
                        box-sizing: border-box;
                        cursor: pointer;
                        padding-bottom: 4px;
                        padding-top: 7px;
                        padding-left: 15px;
                        width: 90%;
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        font-family: "Nacelle-Regular";
                        font-size: 15px;
                        color: black;
                        background-color: "transparent";
                    }
                    &__project {
                        display: flex;
                        gap: 10px;
                        &__text {
                            margin: 0;
                            font-family: "OktaNeue-Light";
                            line-height: 0.9;
                        }
                        &__year {
                            margin-right: 1.3rem;
                            font-weight: 700;
                        }
                    }

                    .liHover {
                        font-size: 18px;
                        background-color: rgb(190, 182, 182);
                        color: white;
                        -webkit-clip-path: polygon(
                            25% 0,
                            100% 0,
                            100% 100%,
                            75% 100%,
                            0 100%,
                            0 30%,
                            2% 0
                        );
                        clip-path: polygon(25% 0, 100% 0, 100% 100%, 75% 100%, 0 100%, 0 30%, 2% 0);
                    }
                }
            }
        }

        &__svgProjectBox {
            position: absolute;
            z-index: -1;
            top: 15%;
            // border: 2px solid red;
            width: 100%;
            display: flex;
            margin-top: -2rem;
            background-color: #f8f8f8dc;
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);

            clip-path: url(#projectMask);
        }

        &__svgGoToExp {
            position: absolute;
            bottom: 12.3%;
            right: 12.8%;
            // border: 2px solid blue;
        }

        &__svgCross__one,
        &__svgCross__two {
            position: absolute;
            // border: 2px solid red;
        }

        &__svgCross__one {
            top: 4vw;
            right: -0.9%;
        }
        &__svgCross__two {
            bottom: 6.3vw;
            left: -0.9%;
        }
    }

    &__title {
        z-index: 10;
        margin: 0;
        padding: 0;
        top: -14%;
        left: 10%;
        position: absolute;
        font-family: "OktaNeue-Bold";
        font-size: 4rem;
        color: rgb(5, 22, 34);
    }
}

.content {
    // border: 3px solid red;
    border-radius: 33px;
    height: 75%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.396);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;

    &__picture {
        img {
            width: 80%;
        }
        // border: 2px solid blue;

        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 33px 0px 0px 33px;
    }

    &__projects {
        ul {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
        li {
            border: 1px solid black;
            list-style: none;
            color: rgb(5, 22, 34);
            height: 30px;
            font-family: "OktaNeue-Regular";
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.2px;
        }
    }
}
