.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    background-color: rgb(230, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__box {
        position: relative;
        width: 80%;
        height: 100%;
        // border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__ctn {
            position: absolute;
            top: 32%;
            width: 11%;
            height: 50%;
            // border: 2px solid red;
        }
    }
}

.counter__box {
    position: fixed;
    bottom: 30%;
    left: 45%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    height: 20px;
    border: 2px solid pink;
    overflow: hidden;
    font-family: "Nacelle";
    font-size: 20px;
}

.loaderbar {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 600px;
    height: 5px;
    transform: translate(-50%, -50%);

    &__back {
        position: absolute;
        left: 0;
        top: 0;
        width: 600px;
        height: 5px;
        background: rgb(221, 219, 219);
    }
    &__one {
        position: absolute;
        left: 0;
        top: 0;
        background: #787777;
        width: 5px;
        height: 5px;
    }
}

.buttons {
    opacity: 0;
    button {
        background: none;
        border: none;
        cursor: pointer;
        font-family: "NeueMontreal-Medium";
        font-size: 32px;
        z-index: 10;

        // border: 2px solid red;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        color: #787777;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
}

.texts {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    // border: 2px solid blue;
    text-align: center;

    font-weight: 200;
    font-size: 9px;

    h2 {
        font-family: "NeueMontreal-Regular";
        font-weight: 100;
        margin: 0;
    }
}
