@import "../../styles/font";
@import "../../styles/theme";

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30000;
    background-color: rgba(240, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__box {
        position: relative;
        width: 80%;
        height: 100%;
        // border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__logo {
            position: absolute;
            top: 35%;
            width: 7vw;
            height: 50%;
            // border: 2px solid red;
        }
    }
}

.settingUp {
    position: absolute;
    top: 56%;
    color: #787777;
    font-family: "NeueMontreal-Regular";
    text-transform: uppercase;
    font-size: $fontsize-xs;
    font-weight: 700;
}

.counter__box {
    position: fixed;
    bottom: 30%;
    left: 45%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    height: 20px;
    border: 2px solid pink;
    overflow: hidden;
    font-family: "Nacelle";
    font-size: 20px;
}

.loaderbar {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 50dvw;
    height: 0.3vw;
    transform: translate(-50%, -50%);

    &__back {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(221, 219, 219);
    }
    &__one {
        position: absolute;
        left: 0;
        top: 0;
        background: #787777;
        width: 5px;
        height: 100%;
    }
}

.buttons {
    opacity: 0;
    button {
        background: none;
        border: none;
        cursor: pointer;
        font-family: "NeueMontreal-Medium";
        font-size: $fontsize-xl;
        z-index: 10;

        // border: 2px solid red;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        color: #787777;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
}

.texts {
    opacity: 0;
    position: absolute;
    // border: 2px solid blue;
    text-align: center;

    font-weight: 200;
    font-size: $fontsize-s;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-family: "NeueMontreal-Regular";
        font-weight: 200;
        margin: 0;
    }
}
