@use "./utils/funtions" as f;

@font-face {
    font-family: "NeueMontreal-Medium";
    src: url("./font/PPNeueMontreal-Medium.otf");
}

@font-face {
    font-family: "NeueMontreal-Regular";
    src: url("./font/PPNeueMontreal-Book.otf");
}

@font-face {
    font-family: "VCR_OSD";
    src: url("./font/VCR_OSD_MONO.ttf");
}
@font-face {
    font-family: "Nacelle";
    src: url("./font/Nacelle-SemiBold.otf");
}
@font-face {
    font-family: "Nacelle-Regular";
    src: url("./font/Nacelle-Regular.otf");
}

$fontsize-title: clamp(f.rem(120), 13vw, f.rem(290));
$fontsize-title-project: clamp(f.rem(90), 8vw, f.rem(220));
$fontsize-title-second: clamp(f.rem(15), 1.1vw, f.rem(25));
$fontsize-s: clamp(f.rem(14), 1vw, f.rem(22));
$fontsize-m: clamp(f.rem(15), 1.1vw, f.rem(21));
$fontsize-l: clamp(f.rem(16), 12px + 0.5vw, f.rem(24));
$fontsize-xl: clamp(f.rem(20), 12px + 1.5vw, f.rem(28));

$fontsize-project: clamp(f.rem(15), 0.9vw, f.rem(22));
$fontsize-projects: clamp(f.rem(17), 1.3vw, f.rem(24));
$fontsize-menu: clamp(f.rem(55), 5vw, f.rem(80));
