@use "./utils/funtions" as f;

@font-face {
    font-family: "NeueMontreal-Medium";
    src: url("./font/PPNeueMontreal-Medium.otf");
}

@font-face {
    font-family: "NeueMontreal-Regular";
    src: url("./font/PPNeueMontreal-Book.otf");
}

@font-face {
    font-family: "VCR_OSD";
    src: url("./font/VCR_OSD_MONO.ttf");
}
@font-face {
    font-family: "Nacelle";
    src: url("./font/Nacelle-SemiBold.otf");
}
@font-face {
    font-family: "Nacelle-Regular";
    src: url("./font/Nacelle-Regular.otf");
}

$fontsize-title: clamp(f.rem(120), 13vw, f.rem(290));
