// $primary-color-darkblue: #0c1a33;

$primary-color-darkblue: #0f1f41;
$primary-color-mediumblue: #091940e1;
$white-board: rgba(240, 238, 238, 0.874);
$white-board-opac: rgb(240, 239, 239);
$white-text: rgb(243, 243, 243);
$dark-text: #061022;

$nav-margin-right: clamp(4px, 0.5%, 11px);
