$primary-color-darkblue: #091429;
$primary-color-mediumblue: #091940e1;
$white-board: rgba(240, 238, 238, 0.874);
$white-board-opac: rgba(240, 238, 238, 1);

$nav-margin-right: clamp(4px, 0.5%, 11px);
