@import "../../styles/font";

.playView {
    z-index: 8000;
    display: flex;
    position: fixed;
    top: 1%;
    right: clamp(30px, 2vw, 50px);
    mix-blend-mode: difference;
    height: 25px;
    align-items: center;
    width: clamp(80px, 8vw, 110px);
    justify-content: space-around;
    // border: 2px solid red;

    button {
        font-family: "NeueMontreal-Medium";
        font-weight: 500;
        font-size: $fontsize-l;
        cursor: pointer;
        border: none;
        background-color: transparent;
        margin: 0;
    }

    &__view {
        color: white;
        transition: 0.3s ease-in-out;
    }
    &__viewOff {
        color: rgba(188, 188, 188, 0.383);
        transition: 0.3s ease-in-out;
    }
    &__playOff {
        color: rgba(188, 188, 188, 0.383);
        transition: 0.3s ease-in-out;
    }
    &__play {
        color: white;
        transition: 0.3s ease-in-out;
    }
}
