.box__dialog {
    width: 70%;
    height: 15%;
    // border: 2px solid red;
    position: fixed;
    left: 15%;
    bottom: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: rgb(29, 28, 28);
    border: 2px solid white;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index: 7000;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &__text {
        font-family: "VCR_OSD";
        font-size: 20px;
        width: 90%;
        height: 70%;
        display: flex;
        justify-content: center;
        color: white;
        p {
            // text-align: center;
            opacity: 0;

            span {
                opacity: 0;
            }

            span.revealed {
                opacity: 1;
            }
        }
    }
}
