.box__dialog {
    width: 80%;
    height: 20%;
    // border: 2px solid red;
    position: fixed;
    left: 10%;
    bottom: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    position: relative;
    width: 0%;
    height: 0%;
    background-color: rgba(236, 233, 233, 0.811);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-family: "NeueMontreal-Medium";
        font-size: 17px;
        width: 90%;
        height: 90%;
        opacity: 0;
    }
}
