@import "../../assets/styles/theme.scss";

.title {
    width: 94%;
    margin-left: 8%;
    margin-top: 1rem;
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    &__first,
    &__second {
        font-family: "Nacelle-Regular";
        // color: rgb(231, 231, 231);
        color: rgb(34, 39, 55);
        // mix-blend-mode: difference;
        font-size: 11rem;
        font-weight: 300;
        margin: 0;
    }
    &__second {
        // border: 2px solid green;
        margin-top: -4%;
    }
}

.smalltext {
    display: flex;
    flex-direction: column;
    font-family: "OktaNeue-Regular";
    font-size: 1.5rem;
    // color: rgb(231, 231, 231);
    color: rgb(34, 39, 55);
    // mix-blend-mode: difference;
    // border: 2px solid blue;
    margin-top: -3%;
    margin-left: 1rem;
    span {
        margin: 0;
        margin-bottom: -10px;
    }
}
