@import "../../../styles/theme";
@import "../../../styles/font";

.navbar {
  width: 100dvw;
  // border: 2px solid red;
  // top: 2dvw;
  // left: 10%;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-family: "OktaNeue-Bold";
  text-transform: uppercase;
  padding: 2vw 2vw;
  padding-top: 2dvh;
  font-size: 3.5vw;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  //rgb(230, 228, 228, 0.835); // rgb(230, 228, 228, 0.835)
  // background-color: $white-board;
}

.logo {
  width: 25px;
}

.audio {
  // border: 2px solid red;
  margin-right: 2vw;
  display: flex;
  align-items: center;
  width: 7vw;
}

.menu,
.contact {
  // border: 2px solid blue;
  font-size: 4vw;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 140%;
  span {
    margin: 0;
    padding: 0;
  }
}
