.playView {
    z-index: 1;
    display: flex;
    position: fixed;
    top: 1rem;
    right: 3rem;
    // mix-blend-mode: exclusion;

    button {
        font-family: "NeueMontreal-Medium";
        font-weight: 500;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        background-color: transparent;

        mix-blend-mode: difference;
    }

    &__view {
        color: rgb(27, 24, 24);
        transition: 0.3s ease-in-out;
    }
    &__viewOff {
        color: rgba(79, 76, 76, 0.842);
        transition: 0.3s ease-in-out;
    }
    &__playOff {
        color: rgba(164, 160, 160, 0.608);
        transition: 0.3s ease-in-out;
    }
    &__play {
        color: rgb(27, 24, 24);
        transition: 0.3s ease-in-out;
    }
}
