@import "../../styles/theme";
@import "../../styles/font";

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 550px;

    &__box__wrapper {
        // border: 2px solid green;
        width: 92%;
        height: 80%;
        position: relative;
        margin-top: -3.5%;
        overflow: hidden;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        //rgb(230, 228, 228, 0.835); // rgb(230, 228, 228, 0.835)
        background-color: $white-board;
        border-radius: 5px;
    }

    &__box {
        width: 95%;
        height: 100%;
        margin-inline: auto;
        &__title {
            position: absolute;
            z-index: -1;
            h2 {
                font-family: "NeueMontreal-Medium";
                text-transform: uppercase;
                font-size: $fontsize-title-project;
                font-weight: 200;
                text-align: center;
                margin: 0;
                margin-top: 30px;
                mix-blend-mode: difference;
                color: $primary-color-darkblue;
            }

            &__latest {
                top: -20px;
                left: 50px;
            }
            &__works {
                bottom: 50px;
                left: 500px;
            }
        }

        &__content {
            // border: 2px solid blue;
            height: 80%;
            display: flex;
            position: relative;

            &__view {
                width: 100%;
                height: 110%;
                top: -5%;
                // border: 2px solid purple;
                &__ctn {
                    // border: 2px solid green;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 95%;
                    height: 100%;

                    &__img {
                        height: 0%;
                        border-radius: 4px;
                        overflow: hidden;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            &__text {
                width: 100%;
                display: flex;
                flex-direction: column;
                z-index: 2000;

                &__projects {
                    display: flex;

                    ul {
                        padding: 0;
                        margin: 0;
                        padding-top: 1rem;
                        width: 100%;
                        margin-top: 20%;
                        margin-right: 15%;
                        margin-left: 33%;
                    }
                    li {
                        width: 100%;
                        box-sizing: border-box;
                        cursor: pointer;
                        padding-bottom: 3px;
                        list-style: none;
                        display: flex;
                        align-items: baseline;
                        font-family: "NeueMontreal-Regular";
                        font-weight: 500;
                        font-size: $fontsize-projects;
                        letter-spacing: 0.5px;
                        color: #091940;
                        background-color: "transparent";
                        transition: 0.2s ease-in-out;
                        height: calc($fontsize-projects + 2px);
                    }
                    &__project {
                        width: 100%;
                        display: flex;
                        gap: 5px;
                        text-transform: uppercase;
                        align-items: baseline;
                        &__text {
                            text-transform: initial;
                            margin: 0;
                            font-size: $fontsize-s;
                        }

                        &__year {
                            font-size: $fontsize-s;
                            font-family: "Nacelle-Regular";
                            font-weight: 100;
                        }
                    }

                    .liHover {
                        color: rgb(166, 166, 166);
                        transition: 0.2s ease-in-out;
                    }
                }
            }
        }
        &__goToExp {
            cursor: pointer;
            margin: 0;
            position: absolute;
            color: #091429;
            bottom: 3.7vw;
            right: 3.4vw;
            // border: 2px solid red;
            font-family: "Nacelle-Regular";
            font-size: 22px;
            width: 12%;
            display: flex;
            justify-content: space-between;
            span {
                margin: 0;
            }
            &__arrow {
                width: 25px;
            }
        }
    }

    &__title {
        z-index: 10;
        margin: 0;
        padding: 0;
        top: -14%;
        left: 10%;
        position: absolute;
        font-family: "OktaNeue-Bold";
        font-size: 4rem;
        color: rgb(5, 22, 34);
    }
}

.content {
    // border: 3px solid red;
    border-radius: 33px;
    height: 75%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.396);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;

    &__picture {
        img {
            width: 80%;
        }
        // border: 2px solid blue;

        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 33px 0px 0px 33px;
    }
}
