@import "../../../styles/theme";
@import "../../../styles/font";

.title {
  display: flex;
  flex-direction: column;
  margin-top: 12vw;
  &__one,
  &__two {
    margin: 0;
    margin-top: -10vw;
    padding: 0;
    height: 20vw;
    width: 100%;
    font-family: "OktaNeue-Medium";
    font-size: 20vw;
    font-weight: 600;
    color: $primary-color-darkblue;
    text-align: center;
  }

  &__two {
    margin-top: -2vw;
  }

  &__line {
    margin-top: 7vw;
    margin-left: 7vw;
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 8vw;
    font-family: "OktaNeue-SemiBold";

    &__text {
      margin: 0;
      margin-top: 3.5vw;
      padding: 0;
      height: 5vw;
    }
  }
}
