@import "../../assets/styles/theme.scss";
.navbar {
    position: fixed;
    z-index: 1000;
    top: 8%;
    left: 10px;
    // border: 2px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: "Nacelle";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 3;

    &__menu {
        cursor: pointer;
        mix-blend-mode: normal;
        width: 35px;
        height: 90px;
        background-color: rgba(251, 247, 247, 0.935);
        display: flex;
        align-items: center;
        justify-content: space-between;

        // clip-path: polygon(0 0, 100% 0, 100% 90%, 75% 100%, 0 100%);
        -webkit-backdrop-filter: blur(13px);
        backdrop-filter: blur(13px);
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        span {
            padding-top: 9px;
            padding-right: 3px;
        }
        &__icone {
            width: 15px;
            display: flex;
            align-items: center;
            margin-bottom: 9px;
            margin-right: 2px;
            // border: 2px solid red;
        }
    }
    &__letstalk {
        span {
            padding-right: 3px;
        }
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 110px;
        background-color: rgba(8, 8, 8, 0.856);
        color: white;
        // clip-path: polygon(0 0, 100% 0, 100% 93%, 75% 100%, 0 100%);
        -webkit-backdrop-filter: blur(13px);
        backdrop-filter: blur(13px);
        writing-mode: vertical-rl;

        transform: rotate(180deg);
        span {
            padding-top: 9px;
        }
        &__icone {
            width: 15px;
            display: flex;
            align-items: center;
            margin-bottom: 9px;
            margin-right: 2px;
            transform: rotate(180deg);
            // border: 2px solid red;
        }
    }

    &__sound {
        background-color: rgba(251, 247, 247, 0.935);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.5px;
        -webkit-backdrop-filter: blur(13px);
        backdrop-filter: blur(13px);
    }
}
