@import "../../styles/theme";
@import "../../styles/font";

.secrets {
  // border: 2px solid red;
  // position: fixed;
  // bottom: 0.2vh;
  // left: 4vw;
  color: #e4e4e4;
  mix-blend-mode: difference;

  span {
    text-transform: uppercase;
    font-family: "OktaNeue-Medium";
    font-size: 0.9vw;
  }
}
