@import "../../../styles/theme";
@import "../../../styles/font";

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;

    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid blue;
    min-height: 400px;
}

.project__wrapper {
    margin: 0;
    position: absolute;
    overflow: hidden;
    background-color: $white-board-opac;

    top: 0%;
    left: 50%;
    width: 0%;
    height: 0%;
    transform: translate(-50%, -50%);

    -webkit-backdrop-filter: blur(20px);
    // clip-path: polygon(5% 0, 95% 0, 100% 9%, 100% 91%, 95% 100%, 5% 100%, 0 91%, 0 9%);
    z-index: 120;
    backdrop-filter: blur(20px);
}

.project {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #f8f8f800;
    z-index: 100;

    // clip-path: polygon(5% 0, 95% 0, 100% 9%, 100% 91%, 95% 100%, 5% 100%, 0 91%, 0 9%);
    display: flex;
    justify-content: space-between;

    &__left {
        width: 60%;
        height: 100%;
        margin-left: 5rem;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // border: 2px solid blue;
    }

    &__pic::-webkit-scrollbar {
        display: none;
    }
    &__pic {
        position: relative;
        width: 100%;
        height: 73%;
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        overflow: hidden;
        overflow-y: scroll;
        margin-top: 8%;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &__wrapper {
            position: fixed;
            height: 3%;
            width: 60%;
            bottom: 16%; //pic height: 80% margin-top : 7%
            background: rgb(240, 238, 238);
            background: linear-gradient(0deg, rgb(240, 238, 238) 22%, rgba(248, 247, 247, 0) 100%);
        }
        &__button {
            cursor: pointer;
            border: none;
            font-family: "Nacelle";
            font-size: 18px;
            background-color: #151818;
            color: white;
            padding: 7px 15px;
            position: fixed;
            bottom: 18%;
            left: calc(40% + 1.25rem);
        }

        &__title {
            display: flex;
            align-items: baseline;
            width: 90%;
            display: flex;
            justify-content: space-between;
            height: 3.5rem;
            font-family: "NeueMontreal-Regular";
            font-style: normal;
            text-transform: uppercase;
            font-size: 0.7rem;
            margin: 0;
            padding: 0;
            margin-top: 15px;

            &__svg {
                width: 12px;
                margin-top: 2px;
            }
            h2 {
                margin: 0;
                padding: 0;
                text-align: left;
                font-size: $fontsize-xl;
            }

            span {
                font-family: "NeueMontreal-Regular";
                color: $primary-color-darkblue;
                font-weight: 500;
                font-size: $fontsize-s;
                gap: 5px;
                display: flex;
                align-items: center;
                // border: 2px solid rgb(27, 200, 56);
            }

            &__ask {
                margin-top: -5px;
                line-height: 0;
                height: 15px;
            }
        }
        &__box {
            position: relative;
            width: 95%;
            padding-top: 0%;
            // border: 2px solid purple;
            height: 480%;
            display: flex;
            flex-direction: column;

            row-gap: 0px;
            gap: 15px;

            &__ctn {
                // border: 2px solid red;
                position: relative;
                width: 100%;
                display: flex;
                aspect-ratio: 2;
                overflow: hidden;
                justify-content: space-between;
                gap: 15px;
                border-radius: 7px;
                img {
                    width: 100%;
                }

                &__alone {
                    width: 95%;
                    height: 92%;
                    border-radius: 7px;
                    overflow: hidden;
                    // border: 2px solid red;
                }
            }
            &__ctn__two {
                position: relative;
                width: 100%;
                aspect-ratio: 2.1;
                overflow: hidden;
                // border: 2px solid rgb(13, 255, 0);
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;

                &__small {
                    width: 50%;
                    height: 100%;
                    border-radius: 7px;
                    overflow: hidden;
                    background-color: transparent;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
    &__content {
        height: 70%;
        width: 25%;
        margin-top: 6%;
        margin-left: 3%;
        margin-right: 8%;
        // border: 2px solid orange;
        display: flex;
        flex-direction: column;
        gap: 15px;

        color: $primary-color-darkblue;

        font-family: "NeueMontreal-Regular";
        font-weight: 200;
        letter-spacing: 1px;
        font-size: $fontsize-project;
        line-height: 1.3;

        p {
            margin: 0;
            padding: 0;
        }
        h3 {
            font-family: "NeueMontreal-Medium";
            font-size: $fontsize-project;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 7px;
        }

        &__techno,
        &__client,
        &__year {
            font-family: "NeueMontreal-Regular";
            font-weight: 200;
            letter-spacing: 1px;
            font-size: $fontsize-project;
            width: 74%;
            margin: 0;
            line-height: 1.3;
        }

        &__techno {
            width: 75%;

            &__text {
                font-size: $fontsize-s;
                text-transform: uppercase;
            }
        }

        &__year {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 15%;
            // border: 2px solid red;
        }
        &__client {
            width: 100%;
        }

        &__text {
            text-transform: uppercase;
        }

        &__clientyear {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__year__text {
            width: 100%;
            display: flex;
            justify-content: right;
            p {
                font-size: 16px;
                text-align: right;
                line-height: 2.4;
            }
        }
    }

    &__close {
        position: absolute;
        top: 1.1rem;
        right: 0.8rem;
        height: 30px;
        // border: 2px solid blue;

        display: flex;
        align-items: center;
        gap: 3px;
        font-family: "NeueMontreal-Regular";
        color: $primary-color-darkblue;
        font-weight: 600;
        font-size: 12px;
        // line-height: 1.8;
        cursor: pointer;

        span {
            // border: 2px solid green;

            height: 100%;
            margin: 0;
            padding: 0;
        }

        &__cross {
            // border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 10px;
            z-index: 1000;
            margin-top: -15px;
            transition: 0.3s ease-in-out;
        }
    }

    &__close:hover .project__close__cross {
        transform: scale(0.8);
        transition: 0.3s ease-in-out;
    }

    &__button {
        position: absolute;
        bottom: 8.5%;
        right: 4.7vw;
        // border: 2px solid red;
        width: 12.5%;

        span {
            font-family: "NeueMontreal-Regular";
            color: $primary-color-darkblue;
            font-size: $fontsize-l;
        }

        &__btn {
            border: none;
            all: unset;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            margin: 0;

            // border: 2px solid red;
        }
        &__svg {
            width: 25px;
        }
    }
}
