@font-face {
    font-family: "NeueMontreal-Medium";
    src: url("./font/PPNeueMontreal-Medium.otf");
}

@font-face {
    font-family: "NeueMontreal-Regular";
    src: url("./font/PPNeueMontreal-Book.otf");
}
