@import "../../styles/theme";
@import "../../styles/font";

.location {
    position: fixed;
    top: -1.5vh;
    left: 4vw;
    mix-blend-mode: difference;
    color: white;
    font-family: "OktaNeue-Bold";
    font-size: $fontsize-s-nav;
    text-transform: uppercase;
    z-index: 6000;
    user-select: none;
    -webkit-user-select: none;
}